= partial('builder/partials/nav')

%p= link_to "Bookmarklet", "?" + ("v=u" * 300), id: 'aBM'

%textarea= partial("builder/partials/text")


%h1 
  Builder
  %small.text-muted 
    for any guitar
.container
  %form(data-persist="garlic" id='frmBuilder')
    = partial('builder/partials/body') 
    = partial('builder/partials/neck') 
    = partial('builder/partials/preview')  

    .row 
      .col-md-6
        %button(type='submit'  class='btn btn-success btn-block' id='btnSend') 
          Send Via Email  
      
      .col-md-6
        %button(type='submit'  class='btn btn-success btn-block' id='btnCopy') 
          Copy JSON 
    .row
      %p
      .alert.alert-success
        If your browser supports it, a copy is saved locally. So you can come back and start building again and your build 
        %b should
        be saved.      

:css
  .navbar-brand img{
    margin-top: -12px;
  }
  body{
    padding-top:60px;
    position: relative;
  }

  @media (max-width: 480px) {
   .form-group{
     border-bottom:1px solid #eee;
    } 

  }

